<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.cheese.dao.MyPage.FollowDao">
    <!-- 팔로우 등록 -->
    <insert id="insert" parameterType="FollowDto">
        insert into follow (fromUser, toUser, first_id, last_id)
        values(#{fromUser},#{toUser},#{fromUser},#{fromUser})
    </insert>

    <!-- 팔로워 수  -->
    <select id="countFollower" parameterType="String" resultType="int">
        select count(*)
        from follow
        where toUser = #{toUser}
    </select>

    <!-- 팔로잉 수  -->
    <select id="countFollowing" parameterType="String" resultType="int">
        select count(*)
        from follow
        where fromUser = #{fromUser}
    </select>

    <!-- 팔로워 리스트  : 나를 팔로우 하는 사람들의 목록 -->
    <select id="selectFollowerAll" parameterType="map" resultType="UserInfoDto">
        SELECT *
        FROM user_info
        WHERE ur_id IN (
            SELECT fromUser
            FROM follow
            WHERE toUser = #{toUser}
        )
        LIMIT #{offset},#{pageSize}
    </select>

    <!-- 팔로잉 리스트 : 내가 팔로우 하는 사람들의 목록 -->
    <select id="selectFollowingAll" parameterType="map" resultType="SaleDto">
        SELECT s.*
        FROM sale s
        INNER JOIN jjim j
        ON s.no = j.sal_no
        WHERE j.buyer_id = #{buyer_id}
        <if test="option != null and option != ''">
            <choose>
                <when test='option=="R"'>
                    ORDER BY s.h_date DESC
                </when>
                <when test='option=="P"'>
                    ORDER BY s.view_cnt DESC
                </when>
                <when test='option=="L"'>
                    and s.tx_s_cd = 'S'
                    ORDER BY s.price ASC
                </when>
                <when test='option=="H"'>
                    and s.tx_s_cd = 'S'
                    ORDER BY s.price DESC
                </when>
            </choose>
        </if>
        LIMIT #{offset},#{pageSize}
    </select>

    <!-- 팔로우 취소  -->
    <delete id="deleteSelectedSales" parameterType="map">
        DELETE FROM jjim
        WHERE buyer_id=#{buyer_id}
        AND sal_no IN
        <foreach item="salNo" collection="salNos" open="(" separator="," close=")">
            #{salNo}
        </foreach>
    </delete>
</mapper>